p.caption {
  color: #777;
  margin-top: 10px;
}
p code {
  white-space: inherit;
}
pre {
  word-break: normal;
  word-wrap: normal;
}
pre code {
  white-space: inherit;
}
.book .book-body .page-wrapper .page-inner section.normal table td,
.book .book-body .page-wrapper .page-inner section.normal table th {
  padding: 6px 13px;
}

caption {
  text-align: left !important;
  margin-top: 2em !important;
  margin-bottom: 1em !important;
  caption-side: top;
  color: #777;
}

table {
  margin-top: 2em !important;
}
